<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= @user.nickname %>
         <div>
         <img src=<%= current_user.image %> class = "icon_image">
         </div>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">年組番号</th>
            <td class="table__col2"><%= @user.grade.name %><%= @user.classroom.name %><%= @user.number.name %></td>
          </tr>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.last_name %><%= @user.first_name %></td>
          </tr>
          <tr>
            <th class="table__col1">自己紹介</th>
            <td class="table__col2"><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>